img {
    background-image: url(file.png);
    height: 1000px;
    background-attachment: fixed;
    padding: 10px;
}
body {
    background-color: silver;
    color: blueviolet;
}
h1 {
    background-color: black;
}
h2 {
    background-color: black;
}
p { background-color: tomato;
}