* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root {
    --COR-PRIMARY:#36E3F9;
    --COR-SECONDARY: #911421;
    --COR-TERTIARY: #000000;
    --FONTE-TAMANHO: 1.5rem;

}
body {

}
    h1 {
        color: var(--COR-SECONDARY);
    }
    p {
        font-size: var(--FONTE-TAMANHO);
    }