* img
 {
    margin: 0;
    padding: 0%;
    text-align: justify;
}
.container {
    margin: 15px;
    padding: 15px;
    border: 2px dotted green;
    overflow: auto;
}
.container img {
    float: right;
}
.div2 {
    border: 2px solid darkblue;
    padding: 10px;
    margin: 15px;
}