body {
    background-image: url('../img5dbf46d4188e52.58082949-removebg.png.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
section {
    height: 100vh;
}
/* p {
    text-align: justify;
} */
